---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<span class:list={["bg-clip-text text-transparent bg-gradient-to-r from-emerald-400 to-teal-400", className]}>
  <slot />
</span>
